  

nav {
    background-color: white;
    height: 50px;
    
  }
  
  .mainhome {
    background-color: #c3d4e1;
    border-radius: 33px;
  }
  
  ul {
    list-style-type: none;
    margin: 20;
    padding: 20;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #0c71c3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0c71c3;
    border-radius: 20px;
    color: white;
  }

.logoimg{
    height: 40px;
}

.maintexto {
    display: flex;
    flex-direction: column;
}
.homeportada {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}
.cmsimg {
    height: 300px;
    border: 1px solid #0c71c3;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 #0c71c3}
h1 {
    color: #032a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    padding: 20px;
    margin: 20px;
}
h2 {
    color: #04457b;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin: 20px;
}
button {
    background-color: #0c71c3;
    border-radius: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
    padding: 15px;
    margin-bottom: 20px;
}
.mainprimerbloque {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.texto2dobloque {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  width: 60%;
  text-shadow: 10px;
  letter-spacing: 2px;
  box-shadow: 0 0 0 2em #0000ff;
  margin: 4em;
  padding:1em;
}
  